# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
venv/
.venv/

# macOS / IDE
.DS_Store
.idea/
.vscode/

# Jupyter
*.ipynb_checkpoints

# Build / packaging
build/
dist/
*.egg-info/

# Logs / temp
*.log
tmp/
